#cart {
    position: fixed;
    z-index: 1500;
    right: -350px;
    top: 210px;
}

.deleteProduct {
    width:20px;
}

#cartTabs {
    display: inline-block;
}

#cartTab, #subTab {
    background-color: @mainColor;
    width: 160px;
    color: #fff;
    border: solid 2px @mainColor;
    font-weight: bold;
    text-align: center;
    height: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    &:hover, &.active {
        border: solid 2px @mainColorSoft;
        background-color: @mainColorSoft;
    }
}

#cartPanel {
    width: 350px;
    height: 400px;
    display: inline-block;
    background-color: #fff;
    border: solid 1px @mainColor;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    float: right;
}