@import "variables.less";
@import "search.less";
@import "cart.less";
@import "product.less";

.navbar-default {
    background-color: @mainColor; 
    border-bottom: solid 2px #fff;
}

.navbar a {
    border-right: solid 1px #158d76;
    border-left: solid 1px @mainColorSoft ! important;
    line-height: 50px ! important;
    font-size: 18px ! important;
    text-align: center;
    &:hover {
        background-color: @mainColorSoft ! important;
        color: #fff ! important;
    }
    &.active {
        background-color: @mainColorDark;
        color: #fff ! important; 
        .navbar-tick {
            display: inline;
        }
    }
}

.navbar-tick {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent #ffffff transparent;
    bottom: -1px;
    margin-left: -12px;
    display: none;
    position: absolute;

}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

#content {
    margin-top: 82px;
}

#footer {
    background: #333333;
    border-top: 5px solid #cccccc;
    margin-top: 20px;
    height: 50px;
    width: 100%;
}

.hide {
    display: none;
}

a {
    color: @secondaryColor;
    &:hover {
        color: @secondaryColorDark;
    }
}

.img-thumbnail {
    border: none;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: @secondaryColorSoft;
    border-color: @secondaryColor;
}

.btn-primary {
    background-color: @secondaryColor;
    border-color: @secondaryColorDark;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: @secondaryColorDark;
    border-color: @secondaryColor;
}
