#search {
    position: fixed;
    z-index: 1500;
    left: 0px;
}

#searchTab {
    background-color: @mainColor;
    width: 50px;
    color: #fff;
    border: solid 2px @mainColor;
    font-weight: bold;
    text-align: center;
    height: 140px;
    display: inline-block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#searchPanel {
    width: 350px;
    height: 400px;
    display: inline-block;
    background-color: #fff;
    border: solid 1px @mainColor;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    float: right;
}

.row-search {
    position: fixed;
    z-index: 800;
    width: inherit;
}

.panel-default {
    border: none;
    padding-top: 12px;
    margin-bottom: 2px;
    border-bottom: solid 2px #ddd;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.search-col {
    border-right: solid 1px #ddd;
    padding-left: 15px;

    &:first-of-type {
        padding-left: 28px;
    }

    &>label {
        display: block;
    }

    &:last-of-type {
        border: none;
    }
    .divTrie {
        margin-top: 15px;
    }
    .btn-trie button {
        padding: 5px;
    }
}

.labelCheckbox {
    width: 50%;
    float: left;
    .typeCheckboxLeft {
        float: left;
    }
    .typeCheckboxRight {
        float: right;
    }
}

.typeCheckbox(@radius){
    visibility: hidden;
    width: 0px;

    & + div {
        display: inline-block;
        width: 100%;
        border-radius: @radius;
        background-color: @gray;
        border: none;

        &:hover {
            background-color: @secondaryColorDark ! important;
        }
    }

    &:checked + div {
        background-color: @secondaryColor;
        font-weight: bold;

        &:hover {
            background-color: @secondaryColorDark ! important;
        }
    }
}

.typeCheckboxLeft {
    .typeCheckbox(4px 0px 0px 4px);
}

.allNoLabel {
    font-size: 10px;

    &:first-of-type {
        margin-left: 10px;
    }
}

.flux {
    font-size: 12px;
    font-weight: normal;
}
.typeCheckboxRight {
    .typeCheckbox(0px 4px 4px 0px);
}

slider span.pointer {
    border: 1px solid @secondaryColor ! important;

    &:hover {
        border: 1px solid @secondaryColorDark ! important; 
        &:after {
            background-color: @secondaryColorDark ! important;
        }
    }

    &:after {
        top: 5px ! important;
        left: 5px ! important;
        background-color: @secondaryColor ! important;
    }
}

.searchTab {
    background-color: @secondaryColor;
    color: #fff ! important;
    text-decoration: initial ! important;
    padding: 5px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 4px 2px -3px rgba(0,0,0,0.5);

    &:hover {
        background-color: @secondaryColorDark;
    }
}

@media (max-width: 1200px) {
    .type-text {
        display: none;
    }
}

.searchPanelSub {
    text-align: center;
}

@media (max-width: 601px) {
    .searchPanelSub {
        text-align: left;
    }

    .closeSearch {
        margin-left: 60px;
    }

    .closeSearchText {
        display: none;
    }
}

.type-tick {
    .tick-icon;
    display: inline-block;
    vertical-align: baseline;
}

.searchInputName {
    width: 100%;
    margin-bottom: 5px;
    &:focus.ng-valid {
        outline-color: @thirdColor ! important;
    }
}