@mainColor: #16a085;
@mainColorSoft: #1abc9c;
@mainColorDark: #158d76;
@secondaryColor: #e75f78;
@secondaryColorSoft: #f78ca0;
@secondaryColorDark: #ff296a;
@thirdColor: #13b6ff;
@gray: #bdc3c7;
@grayDark: #95a5a6;
@galleryProductSize: 200px;
